<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">

<channel>
<title>{{ show.title }}</title>

      <link>http://127.0.0.1:8000/</link>
      {% comment %}
      <link>{{ show.link }}</link>
      {% endcomment %}

    
    <description>{{ show.description|striptags }}</description>
    
    {% if show.language %}<language>{{ show.language }}</language>{% endif %}
    
    <copyright>&#x2117; &amp; &#xA9; {% now "Y" %} {{ show.organization }}. {{ show.copyright }}.</copyright>
    
    <managingEditor>{% for author in show.author.all %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ author.email }}{% endfor %}</managingEditor>
    
    {% if show.author.email or show.webmaster.email %}<webMaster>{% if show.webmaster.email %}{{ show.webmaster.email }}{% else %}{% endif %}</webMaster>{% endif %}
    
    <lastBuildDate>{{ show.list.0.date|date:"r" }}</lastBuildDate>
    
    {% if show.category_show %}<category{% if show.domain %} domain="{{ show.domain }}"{% endif %}>{{ show.category_show }}</category>{% endif %}
    
    <generator>Django Web Framework</generator>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    
    {% if show.ttl %}<ttl>{{ show.ttl }}</ttl>{% endif %}
    {% if show.image %}
    <image>
      <url>{{ show.image.url }}</url>
      <title>{{ show.title }}</title>
      <link>http://127.0.0.1:8000/</link>
      {% comment %}
      <link>{{ show.link }}</link>
      {% endcomment %}
    </image>
    {% endif %}

    <itunes:author>{{ show.organization }}</itunes:author>
    
    <itunes:owner>
        <itunes:name>{% for author in show.author.all %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{% if author.first_name or author.last_name %}{% if author.first_name and author.last_name %}{{ author.first_name }} {{ author.last_name }}{% endif %}{% if author.first_name and not author.last_name %}{{ author.first_name }}{% endif %}{% if author.last_name and not author.first_name %}{{ author.last_name }}{% endif %}{% else %}{{ author.username }}{% endif %}{% endfor %}</itunes:name>
        <itunes:email>{% for author in show.author.all %}{{ author.email }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</itunes:email>
    </itunes:owner>
    
    {% if show.subtitle %}<itunes:subtitle>{{ show.subtitle }}</itunes:subtitle>{% endif %}
    
    <itunes:summary>{% if show.summary %}{{ show.summary|striptags }}{% else %}{{ show.description|striptags }}{% endif %}</itunes:summary>

    {% if show.image %}<itunes:image href="{{ show.image.url }}" />{% endif %}

    {% if show.category.all %}
    {% for category in show.category.all %}
      {% if category.name %}
          <itunes:category text="{{ category.parent.name }}">
          <itunes:category text="{{ category.name }}" /></itunes:category>
      {% else %}
          <itunes:category text="{{ category.parent.name }}" />
      {% endif %}
    {% endfor %}
    {% endif %}

    {% if show.explicit %}<itunes:explicit>{{ show.explicit|lower }}</itunes:explicit>{% endif %}
    
    {% if show.block %}<itunes:block>yes</itunes:block>{% endif %}
    
    {% if show.redirect %}<itunes:new-feed-url>{{ show.redirect }}</itunes:new-feed-url>{% endif %}
    
    {% for episode in object_list %}
    <item>
    <title>{{ episode.title }}</title>


    {% if episode.enclosure_set.all.0.file %} <link>{{ episode.enclosure_set.all.0.file.url }}</link> {% endif %}

    {% if episode.enclosure_set.all.0.player %} <link>{{ episode.enclosure_set.all.0.player }}</link> {% endif %}

        
        <description>{{ episode.description|striptags }}</description>
        
        <author>{% firstof show.author.email show.author %}</author>
        
        {% if episode.category %}<category{% if episode.domain %} url="{{ episode.domain }}"{% endif %}>{{ episode.category }}</category>{% endif %}
        

    {% if episode.enclosure_set.all.0.file %} 
    <enclosure url="http://{{site}}{{ episode.enclosure_set.all.0.file.url }}" />
        
        <guid isPermalink="true">{{ episode.enclosure_set.all.0.file.url }}</guid>
    {% endif %}


     {% if episode.enclosure_set.all.0.player %} 
        <enclosure url="{{ episode.enclosure_set.all.0.player }}" type="{{ episode.enclosure_set.all.0.mime }}" />
        
        <guid isPermalink="true">{{ episode.enclosure_set.all.0.player }}</guid>
    {% endif %}
       

        <pubDate>{{ episode.date|date:"r" }} GMT</pubDate>
        
        <itunes:author>
                        {% if episode.show.author.first_name and episode.show.author.last_name %}
                            {{ episode.show.author.first_name }} {{ episode.show.author.last_name }}
                        {% else %}
                        {% firstof episode.show.author.first_name episode.show.author.last_name episode.show.author.username %}
                        {% endif %}
        </itunes:author>
        
        {% if episode.subtitle %}<itunes:subtitle>{{ episode.subtitle }}</itunes:subtitle>{% endif %}


        <itunes:summary>{% if episode.summary %}{{ episode.summary|striptags }}{% else %}{{ episode.description|striptags }}{% endif %}</itunes:summary>
        
        {% if episode.minutes and episode.seconds %}<itunes:duration>{{ episode.minutes }}:{{ episode.seconds }}</itunes:duration>{% endif %}
        
        {% if episode.keywords %}<itunes:keywords>{{ episode.keywords }}</itunes:keywords>{% endif %}
        
        {% if episode.explicit %}<itunes:explicit>{{ episode.explicit|lower }}</itunes:explicit>{% endif %}
        
        {% if episode.block %}<itunes:block>yes</itunes:block>{% endif %}
    </item>
    {% endfor %}
    
</channel>
</rss>
